* {
	background-color: gray;
	color: white;
	font-family: Verdana, sans-serif;
	font-weight: normal;
}

#contact, #social {
	text-align: center;
}

img {
	border: 2px solid white;
	border-radius: 100%;
	padding: 2px;
	width: 100px;
	height: 100px; 
}

a {
	text-decoration: none;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
}

h3, p {
	font-size: 16px;
}

ul li {
	font-size: 14px;
}
